<!DOCTYPE html>
<html lang="en">

<head>
  <title>HKBU Event Management System</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <% /* If you want to discourage search engines from indexing this site, uncomment the following line: */%>
    <% /* <meta name="robots" content="noindex"> */%>
      <!-- <link rel="stylesheet" href="/styles/importer.css"> -->
      <link rel="stylesheet" href="https://unpkg.com/buefy/dist/buefy.min.css">
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@mdi/font@6/css/materialdesignicons.min.css">
</head>

<body>
  <!-- <script src="/dependencies/sails.io.js"></script> -->
  <script defer src="https://use.fontawesome.com/releases/v5.15.4/js/all.js"></script>
  <script src="https://unpkg.com/vue@2"></script>
  <script src="https://unpkg.com/buefy/dist/buefy.min.js"></script>
  <script src="https://unpkg.com/buefy/dist/components/table"></script>
  <script src="https://unpkg.com/buefy/dist/components/input"></script>

  <div id="navbarDiv">
    <nav class="navbar" aria-label="main navigation">
      <div class="navbar-brand">
        <b-navbar-item href="/">
          <img src="https://raw.githubusercontent.com/buefy/buefy/dev/static/img/buefy-logo.png"
            alt="Lightweight UI components for Vue.js based on Bulma" width="72" height="28">
        </b-navbar-item>
        <a role="button" :class="this.navbarBtnClassName" aria-label="menu" aria-expanded="false"
          @click="onMobileNavbarButtonClicked()">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>

      <div :class="this.navbarClassName">
        <div class="navbar-start">
          <b-navbar-item href="/">
            Home
          </b-navbar-item>
          <b-navbar-item href="/events/search">
            Search
          </b-navbar-item>
          <b-navbar-item href="/events/create" v-if="isAdmin">
            Create
          </b-navbar-item>
          <b-navbar-item href="/events/admin" v-if="isAdmin">
            Admin
          </b-navbar-item>
          <b-navbar-item href="/events/registered" v-if="isStudent">
            My Registered Events
          </b-navbar-item>
        </div>

        <div class="navbar-end">
          <b-navbar-item>
            <div class="buttons">
              <a class="button is-primary is-focused" v-if="isLoggedIn">
                <strong>{{ userName }}</strong>
              </a>
              <a class="button is-light" @click="onLogInOutClicked()">
                {{ btnName }}
              </a>
            </div>
          </b-navbar-item>
        </div>
      </div>
    </nav>
  </div>

  <section class="hero is-info">
    <div class="hero-body">
      <p class="title">
        Event Management System
      </p>
      <p class="subtitle">
        HKBU Event Management System is web-based system for department and student societies to broadcast events and
        activities as well as registration.
      </p>
    </div>
  </section>

  <section class="section">
    <%- body %>
  </section>

  <script>
    new Vue({
      el: '#navbarDiv',
      data: {
        navbarClassName: 'navbar-menu',
        navbarBtnClassName: 'navbar-burger',
        userRole: '<%=req.session.userRole%>',
        userName: '<%=req.session.username%>',
        btnName: 'Login'
      },
      computed: {
        isLoggedIn: function () {
          if (this.userRole === 'admin' || this.userRole === 'student') {
            this.btnName = 'Logout';
            return true;
          } else {
            this.btnName = 'Login';
            return false;
          }
        },
        isAdmin: function () {
          if (this.userRole === 'admin') {
            return true;
          } else {
            return false;
          }
        },
        isStudent: function () {
          if (this.userRole === 'student') {
            return true;
          } else {
            return false;
          }
        }
      },
      methods: {
        onMobileNavbarButtonClicked: function () {
          if (this.navbarClassName === 'navbar-menu') {
            this.navbarClassName = 'navbar-menu is-active';
            this.navbarBtnClassName = 'navbar-burger is-active';
          } else {
            this.navbarClassName = 'navbar-menu';
            this.navbarBtnClassName = 'navbar-burger';
          }
        },
        onLogInOutClicked: async function () {
          if (this.btnName === 'Login') {
            location.replace("/user/login");
          } else {
            var response = await fetch('/user/logout', {
              method: 'POST'
            });
            if (response.ok) {
              alert("Logout successfully");
              location.replace("/");
            } else {
              alert(response.statusText);
            }
          }
        }
      }
    })
  </script>
</body>

</html>